<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @post.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Titulo:</b>
  <%= @post.titulo %>	
</p>

<p>
  <b>Chamada:</b>
  <%= @post.chamada %>
</p>

<p>
  <b>Texto:</b><br/>
  <%= image_tag @post.image.url if !@post.image_file_name.nil? %>
  <!--%= image_tag @post.image.url(:medium) if !@post.image_file_name.nil? %-->
  <!--%= image_tag @post.image.url(:thumb) if !@post.image_file_name.nil? %--><br />
  <%= raw @post.texto %>
</p>
<br />
<% if @comentario.count != 0 %>
	<h1>Comentarios</h1>
	<% @comentario.each do |coment|%>
		<div id="footer" class="tr"> 
		</div>
		<p>
			<b>Nome    -->   </b>
			<%= coment.nome %>
		</p>
		<p>
			<b>Email    -->   </b>
			<%= raw coment.email %>
		</p>
		<p>
			<b>Site    -->   </b>
			<%= raw coment.site %>
		</p>
		<p>
			<b>Comentario    -->   </b>
			<%= raw coment.comentario %>
		</p>
		<div id="footer" class="tr"> 
		</div>
	<% end %>
<% else %>
	<h1>Comentarios</h1>
	nenhum comentario! Seja o primeiro!
<% end %>
<%= form_for(@com) do |f| %>
	  <%= f.hidden_field :post_id, :value => params[:id] %>
	  <div class="field">
	    <%= f.label :nome %><br />
	    <%= f.text_field :nome %>
	  </div>
	  <div class="field">
	    <%= f.label :site %><br />
	    <%= f.text_field :site %>
	  </div>
	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.text_field :email %>
	  </div>
	  <div class="field">
	    <%= f.label :comentario %><br />
	    <%= f.text_area :comentario %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>

<% if !current_user.nil?  %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Back', posts_path %> |
	<%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %>
<%end%>
